{% extends "store/main.html" %} {% load static %} {% block content %}

<div class="row">
    <!-- User and shipping info -->
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                {# {% csrf_token %} #}
                <!-- User info: Name and email (shown to unauthenticated users) -->
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name...">
                    </div>

                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email...">
                    </div>
                </div>

                <!-- Shipping info: full address (shown if the order requires shipping) -->
                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <input required class="form-control" type="text" name="address" placeholder="Address...">
                    </div>

                    <div class="form-field">
                        <input required class="form-control" type="text" name="city" placeholder="City...">
                    </div>

                    <div class="form-field">
                        <input required class="form-control" type="text" name="state" placeholder="State...">
                    </div>

                    <div class="form-field">
                        <input required class="form-control" type="text" name="zipcode" placeholder="Zipcode...">
                    </div>

                    <div class="form-field">
                        <!-- <input required class="form-control" type="text" name="country" placeholder="Country..."> /!-->
                        <label for="country">Country:</label>
                        <select required name="country" style="width: min-content;">
                            {% for country in countries %}
                            <option value="{{country.code}}">{{country.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <hr>
                <button id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">Continue</button>
            </form>
        </div>

        <br>
        <div id="payment-info" class="box-element hidden">
            <small>Paypal Options</small> {% csrf_token %}
            <!-- Set up a container element for the button -->
            <div id="paypal-button-container"></div>

            <small>PLEASE DON'T PAY WITH YOUR REAL CARD. THIS PAYPAL INTEGRATION IS USED FOR DEMO PURPOSES. NONE OF THE BOUGHT ITEMS IS REAL.</small>
        </div>
    </div>

    <!-- Order summary -->
    <div class="col-lg-6">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>

            <hr>
            <h2>Order Summary</h2>
            <hr>

            <!-- #region Order details -->
            <div class="cart-row">
                <div style="flex: 2;"></div>
                <div style="flex: 2;"><strong>Item</strong></div>
                <div style="flex: 1;"><strong>Quantity</strong></div>
                <div style="flex: 1;"><strong>Total</strong></div>
            </div>

            {% for item in ordered_items %}

            <div class="cart-row">
                <div style="flex: 2;"><img class="row-image" src="{{item.product.imageURL}}"></div>
                <div style="flex: 2;">{{item.product.name}}</div>
                <div style="flex: 1;">x{{item.quantity}}</div>
                <div style="flex: 1;">${{item.get_total_price}}</div>
            </div>

            {% endfor %}

            <!-- #endregion -->

            <!-- #region Coupon form -->
            <div class="col-lg-12">
                <div class="box-element" id="form-wrapper">
                    <form id="coupon-form">
                        {% if request.user.is_authenticated %}
                        <div class="form-field">
                            <input id="coupon-field" class="form-control" type="text" name="code" placeholder="Enter coupon here...">
                        </div>

                        <button id="coupon-submit-button" class="btn btn-success btn-block" type="submit" value="apply-coupon" style="width:min-content">Apply</button>

                        <button id="coupon-edit-button" class="btn btn-info btn-block hidden" type="button" value="edit-coupon" style="width:min-content"><i class="fa-solid fa-pen"></i></button> {% else %}
                        <p>Coupons are available only for logged in customers.</p>
                        <p><a href="{% url 'store' %}">Log in</a> to enter a coupon.</p>
                        {% endif %}
                    </form>
                </div>
            </div>

            <!-- #endregion -->

            <!-- #region Order summary (items amount, applied discount, final price) -->
            <h5>Items: {{order.get_items_amount}}</h5>
            <div id="coupon-info">
                <hr>
                <h6>Total: ${{order.get_cart_price}}</h6>

                {% if request.user.is_authenticated %}
                <h6 style="color:green">Coupon discount: -$<span id="coupon-discount">{{order.get_discount_amount}}</span></h6>
                {% endif %}
                <hr>
            </div>
            {% if request.user.is_authenticated %} {# Final price may have an applied coupon #}
            <h3>Final: $<span id="order-final-price">{{order.get_final_price}}</span></h3>
            {% else %} {# Final price equals to cart price because no coupon can be applied for unauthenticated users #}
            <h3>Final: $<span id="order-final-price">{{order.get_cart_price}}</span></h3>
            {% endif %}

            <!-- #endregion -->
        </div>
    </div>
</div>


<!-- PayPal Buttons JS SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=AUaiSy_NrNeExAERsapEzKPkgfpyr6QTa8w6VoeNEch9ZVfR_P83R-GtdC0nzcUAUQ8lOv1gQbeeWtOL&currency=USD&disable-funding=credit"></script>
<script>
    // Render the PayPal button(s) into #paypal-button-container
    paypal.Buttons({

        locale: 'en_US',
        style: {
            size: 'responsive',
            color: 'gold',
            shape: 'pill'
        },

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: parseFloat(total).toFixed(2)
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(orderData) {
                // Successful transaction!
                submitFormData()

                // For demo purposes:
                //console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                var transaction = orderData.purchase_units[0].payments.captures[0];
                //alert('Transaction completed');
                //alert('Transaction ' + transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                // Replace the above to show a success message within this page, e.g.
                const element = document.getElementById('paypal-button-container');
                element.innerHTML = '';
                element.innerHTML = '<p>Thank you for your payment!</p>';
                // Go to another URL:
                actions.redirect("{% url 'store' %}");
            });
        }


    }).render('#paypal-button-container');
</script>

<!-- Custom JS -->
<script type="text/javascript">
    var requiresShipping = '{{requires_shipping}}'
    var total = document.getElementById("order-final-price").innerHTML
    var appliedCouponCode = '{{order.applied_coupon.code}}'

    // #region Get the forms and the elements that submit data
    var form = document.getElementById('form')
    var couponForm = document.getElementById('coupon-form')
    var couponEditButton = document.getElementById('coupon-edit-button')

    // #endregion

    // #region Remove user info and/or shipping info forms if redundant
    if (user != "AnonymousUser") {
        document.getElementById("user-info").innerHTML = ''
    }
    if (requiresShipping == "False") {
        document.getElementById("shipping-info").innerHTML = ''
    }
    if (user != "AnonymousUser" && requiresShipping == 'False') {
        // Hide the info form altogether
        document.getElementById("form-wrapper").classList.add("hidden")

        // Show the payment button right away
        document.getElementById("payment-info").classList.remove("hidden")
    }

    // #endregion

    if (user != "AnonymousUser") {
        if (!!appliedCouponCode) {
            couponInputField = document.getElementById("coupon-field")
            couponSubmitButton = document.getElementById("coupon-submit-button")

            couponInputField.value = appliedCouponCode
            lockCouponEntering()
        }

        couponForm.addEventListener('submit', function(e) {
            //console.log("Coupon submitted...")
            e.preventDefault()
            lockCouponEntering()
            submitCoupon()
        })

        if (couponEditButton) {
            couponEditButton.addEventListener('click', function(e) {
                e.preventDefault()
                unlockCouponEntering()
            })
        }
    } else {
        //document.getElementById("order-final-price").innerHTML = '{{order.get_cart_price}}'
    }

    //csrftoken = form.getElementsByTagName("input")[0]
    //console.log(csrfToken)

    form.addEventListener('submit', function(e) {
        //console.log("Form submitted...")
        e.preventDefault()
        document.getElementById("form-button").classList.add("hidden")
        document.getElementById("payment-info").classList.remove("hidden")
    })

    // #region FOR: Updating visual (HTML) elements

    function lockCouponEntering() {
        document.getElementById("coupon-submit-button").classList.add("hidden")
        document.getElementById("coupon-field").setAttribute("readonly", true)
        couponEditButton.classList.remove("hidden")
    }

    function unlockCouponEntering() {
        document.getElementById("coupon-submit-button").classList.remove("hidden")
        document.getElementById("coupon-field").removeAttribute("readonly")
        couponEditButton.classList.add("hidden")
    }

    // #endregion

    // #region FOR: Submitting data
    function submitFormData() {
        //console.log("Payment button clicked")

        var userFormData = {
            'name': null,
            'email': null,
            'total': total,
        }
        var shippingInfo = {
            'address': null,
            'city': null,
            'state': null,
            'country': null,
            'zipcode': null,
        }

        if (user == "AnonymousUser") {
            userFormData.name = form.name.value
            userFormData.email = form.email.value
        }
        if (requiresShipping == "True") {
            shippingInfo.address = form.address.value
            shippingInfo.city = form.city.value
            shippingInfo.state = form.state.value
            shippingInfo.country = form.country.value
            shippingInfo.zipcode = form.zipcode.value
        }

        total = document.getElementById('order-final-price').innerHTML

        var url = '/process_order/'
        fetch(url, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                    'userFormData': userFormData,
                    'shippingInfo': shippingInfo
                })
            })
            .then((response) => response.json())
            .then((data) => {
                //console.log("Success:", data)

                window.location.href = "{% url 'store' %}"
            })
    }

    /**
     * Submit the applied coupon to the back end
     */
    function submitCoupon() {
        //console.log('submitCoupon()')

        var coupon = couponForm.code.value

        if (coupon != "") {
            var url = '/apply_coupon/'
            fetch(url, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify({
                        'price': total,
                        'couponCode': coupon
                    })
                })
                .then((response) => response.json())
                .then((data) => {
                    location.reload()
                })
        }
    }

    // #endregion
</script>
{% endblock content %}