{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Ecom Website title (main link) -->
    <a class="navbar-brand" href="{% url 'store' %}">Ecom Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Additional links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left-corner links -->
        <ul class="navbar-nav mr-auto">
            <!-- Store -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'store' %}">Store<span class="sr-only">(current)</span></a>
            </li>
            <!-- About (transparent link) -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about_page' %}">About</a>
            </li>
        </ul>
        <!-- Right-corner interface -->
        <div class="form-inline my-2 my-lg-0">
            {% if request.user.is_authenticated %}
            <span class="hello-msg">Hello, {{request.user}}</span>
            <a href="{% url 'logout' %}" class="btn btn-warning">Logout</a> {% else %}
            <a href="{% url 'login' %}" class="btn btn-warning">Login</a> {% endif %}


            <!-- Cart icon and ordered items counter -->
            <a href="{% url 'cart' %}">
                <i class="fa-solid fa-cart-shopping" style="color: #fff"></i>
            </a>
            <p id="cart-total">{{items_amount}}</p>

        </div>
    </div>
</nav>