{% extends "store/main.html" %}
{% load static %}

{% block content %}

<div class="row">
    <!-- User and shipping info -->
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <div id="user-info">
                <div class="form-field">
                    <input required class="form-control" type="text" name="name" placeholder="Name...">
                </div>

                <div class="form-field">
                    <input required class="form-control" type="email" name="email" placeholder="Email...">
                </div>
            </div>

            <div id="shipping-info">
                <hr>
                <div class="form-field">
                    <input required class="form-control" type="text" name="address" placeholder="Address...">
                </div>

                <div class="form-field">
                    <input required class="form-control" type="text" name="city" placeholder="City...">
                </div>

                <div class="form-field">
                    <input required class="form-control" type="text" name="state" placeholder="State...">
                </div>

                <div class="form-field">
                    <input required class="form-control" type="text" name="zipcode" placeholder="Zipcode...">
                </div>

                <div class="form-field">
                    <input required class="form-control" type="text" name="country" placeholder="Country...">
                </div>
            </div>

            <hr>
            <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
        </div>

        <br>
        <div class="box-element hidden" id="payment-info">
            <small>Paypal Options</small>
        </div>
    </div>

    <!-- Order summary -->
    <div class="col-lg-6">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>

            <hr>
            <h2>Order Summary</h2>
            <hr>
            <!-- Full order here -->
            
            <div class="cart-row">
                <div style="flex: 2;"></div>
                <div style="flex: 2;">Item</div>
                <div style="flex: 1;">Quantity</div>
                <div style="flex: 1;">Total</div>
            </div>

            <div class="cart-row">
                <div style="flex: 2;"><img class="row-image" src="{% static 'images/banner_placeholder.png' %}"></div>
                <div style="flex: 2;">Product ABC1</div>
                <div style="flex: 1;">x2</div>
                <div style="flex: 1;">$28.66</div>
            </div>

            <h5>Items: </h5>
            <h3>Total: $ </h3>
        </div>
    </div>
</div>


{% endblock content %}